-#Footer

%footer.clearfix
  %ul
    %li
      %a{href:"#"} Home
    %li
      %a{href:"#"} Itineraries
    %li
      %a{href:"#"} About

  .footer-logo
    %img{src:"../img/img-640/footer-logo.png"}
  .footer-copy
    .footer-social
      %a{href:"#"}
        %i.fa.fa-facebook-square
      %a{href:"#"}
        %i.fa.fa-twitter-square
    %span (c) Wanderist 2014