
/* Variables */

/* Colors */

$white: #fff;
$main-black: #3d380a;
$darken-white: #e4e3d2;
$darken: #3d3709;
$dark-night: #453c25;
$dark-lighten: #443b25;
$olive: #a29948;
$mustard: #f5f4e2;
$mustard-darken: #bba87b;
$yellow: #ffdf06;

/* Indents */

$padding: 20px;
$margin: 20px;
$auto: auto;


/* Uppercase */

$text-transform: uppercase;

/* Main Display */

$main-display: block;

/* Width */

$left-container: 599px;
$width: 100%;
$height: 100%;

/* No-repeat */

$no-repeat: no-repeat;

/* Tablet font-size */
$md-desktop-size: 0.9em;

/* Cursor */
$pointer: pointer;

/* Media */

$main-content: 940px;
$md-desktop: "(min-width: 992px)";
$tablet: "(min-width: 768px)";



